<!-- ESTE CODIGO SE PEGO DE MATERIALIZA PARA EL FOOTER-->
<br />
<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quienes Somos</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut leo ac elit fermentum viverra. Morbi egestas est non ipsum vestibulum laoreet. Maecenas quis felis quis magna tristique sodales ut vitae nunc. Vivamus quis metus eu ante ullamcorper luctus. Suspendisse tincidunt urna metus, sit amet blandit odio finibus sed. Sed fringilla justo at libero ultrices euismod. Vivamus fermentum quis leo ut congue. Nulla viverra pulvinar felis quis pretium.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Nuestras Redes Sociales</h5>
          <ul>
            <li><a href="http://www.facebook.com/" class="material-icons prefix" href="http://www.facebook.com/" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32/></a>&nbsp;Facebook</li>
            <li><a href="http://twitter.com/" class="material-icons prefix" href="http://twitter.com/" target="_blank"><img alt="Síguenos en Twitter" src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32/></a>&nbsp;Twitter</li>
            <li><a href="http://www.YouTube.com" class="material-icons prefix" href="http://www.YouTube.com" target="_blank"><img alt="Siguenos en YouTube" src="https://lh5.googleusercontent.com/-TXzlKCbKzWs/T6mYkDhTXyI/AAAAAAAAA1U/vm95Q2KwrYg/s32/youtube32.png" width=32 height=32 /></a>&nbsp;Youtube</li>
            <li><a href="http://www.linkedin.com/" class="material-icons prefix" href="http://www.linkedin.com/" target="_blank"><img alt="Siguenos en Linkedin" src="https://lh5.googleusercontent.com/-8C0OdSp_7ZA/T3nN0G_313I/AAAAAAAAAsU/6_Hbu6Of3qU/s32/linkedin32.png" width=32 height=32 /></a>&nbsp;linkedin</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Más Links</a>
      </div>
    </div>
  </footer>
